:root {
  --color-pink: #d658b3;
  --color-green: #45b442;
  --color-gray-700: #332b31;
  --color-gray-600: #4a4448;
  --color-gray-500: #756c71;
  --color-gray-400: #d3cfd2;
  --color-gray-300: #dfdcdf;
  --color-gray-200: #e9e7e9;
  --color-gray-100: #f4f1f2;
  --color-white: #ffffff;
  --gradient: linear-gradient(90deg, #2daa6e 0%, #2daaaa 33.33%, #856ccf 66.67%, #d658b3 100%);
}
